header.index-header {
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 3rem;
  background-color: white;
  transition: transform 0.4s ease-in-out;

  &.dark {
    .wrap {
      grid-template-columns: 20rem 1fr 25rem;

      @media (max-width: 1100px) {
        grid-template-columns: max-content 1fr 25rem;
      }

      nav {
        justify-content: center;
      }
    }
  }
  &.peach {
    @media (min-width: 901px) {
      background-color: #fff0ea;
    }
  }

  &.scroll-down {
    transform: translate3d(0, -100%, 0);
  }
  &.scroll-up {
    transform: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  &.fixed {
    transform: none !important;
  }

  @media (min-width: 901px) {
    height: 8.6rem;
  }

  .wrap {
    display: grid;
    grid-template-columns: 14.5rem 1fr max-content;
    column-gap: 5rem;
    max-width: 128rem;
    @media (max-width: 1280px) {
      max-width: 112rem;
    }
    @media (max-width: 1100px) {
      max-width: 1024px;
    }
    @media (max-width: 900px) {
      max-width: 600px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      width: 145px;
    }
    nav.desktop-nav {
      display: flex;
      align-items: center;

      @media (max-width: 900px) {
        display: none;
      }

      ul {
        display: flex;
        align-items: center;

        li {
          a {
            padding: 1rem 0;
            text-decoration: none;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: -0.02em;
            white-space: nowrap;

            color: #646468;

            &:hover {
              color: $main-color;
            }

            &.active:not(.sub-sub-menu) {
              font-weight: 700;
              // background-color: $main-color-muted;
              color: $main-color;
              // padding: 1rem 3rem;
              border-radius: 1rem;
            }
          }

          &:not(:last-of-type) {
            margin-right: 4.5rem;

            @media (max-width: 1100px) {
              margin-right: 2rem;
            }
          }

          &:hover {
            .sub-menu-trigger {
              .sub-menu {
                opacity: 1;
                visibility: visible;
              }
            }
          }
          .sub-menu-trigger {
            position: relative;
            cursor: pointer;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: -0.02em;
            white-space: nowrap;
            padding: 1rem 1rem;

            color: #646468;

            &.active {
              font-weight: 700;
              background-color: $main-color-muted;
              color: $main-color;
              border-radius: 1rem;
            }

            .sub-menu {
              visibility: hidden;
              opacity: 0;
              position: absolute;
              top: 100%;
              left: -20%;
              background: #ffffff;
              box-shadow: 2px 5px 10px rgba(47, 49, 52, 0.1);
              border-radius: 10px;
              width: 50rem;
              transition: all 100ms ease-in-out;

              @media (max-width: 1100px) {
                width: 40rem;
              }

              h4 {
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;
                color: #12051c;
                padding: 1.6rem;
              }
              ul {
                width: 100%;
                border-top: 1px solid rgba(190, 190, 192, 0.2);
                padding: 2rem 1.2rem 2.2rem;
                display: grid;
                grid-template-columns: 7fr 5fr;
                gap: 1.6rem;

                li {
                  a {
                    display: flex;
                    align-items: center;
                    transition: all 100ms ease-in-out;
                    padding: 0;
                    font-weight: 400;

                    .image-control {
                      height: 3.2rem;
                      width: 3.2rem;
                      margin-right: 1.2rem;
                    }

                    &.active:not(.sub-sub-menu) {
                      font-weight: 500;
                      background-color: $main-color-muted;
                      color: $main-color;
                      padding: 6px;
                      border-radius: 1rem;
                    }
                  }

                  &:hover {
                    color: $main-color;
                  }
                }
              }
            }
          }
        }
      }
    }
    .user-prompt {
      // align-self: flex-end;
      display: flex;
      gap: 4rem;

      button.btn {
        font-size: 1.4rem;
        padding: 1.5rem 2rem;
        &.start-btn {
        }
      }

      @media (max-width: 1140px) {
        gap: 3rem;

        button.btn {
          font-size: 1.4rem;
          // &.start-btn {
          //   padding: 1.5rem;
          // }
        }
      }
      @media (max-width: 1100px) {
        gap: 2.5rem;
      }
      @media (max-width: 900px) {
        display: none;
      }

      .sign-in {
        background-color: $main-color-muted;
        color: $main-color;
        // font-weight: 700;
        // font-size: 16px;
      }
    }
  }
}
