@font-face {
  font-family: "Uxum Grotesque";
  src: url("../../../public/fonts/UxumGrotesque/UxumGrotesque-Regular.otf");
}
@font-face {
  font-family: "Uxum Grotesque";
  src: url("../../../public/fonts/UxumGrotesque/UxumGrotesque-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Uxum Grotesque";
  src: url("../../../public/fonts/UxumGrotesque/UxumGrotesque-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "Uxum Grotesque";
  src: url("../../../public/fonts/UxumGrotesque/UxumGrotesque-Ultra.otf");
  font-weight: 900;
}
@font-face {
  font-family: "Uxum Grotesque";
  src: url("../../../public/fonts/UxumGrotesque/UxumGrotesque-Light.otf");
  font-weight: lighter;
}
